<div class="container my-5">
  <div id="spot_error">
    <%= render 'layouts/errors', model: @spot %>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <div>
        <div class="text-center"><b>ステップ1</b></div>
        <div class="text-center">Spot名を入力して検索(20字以内)</br>地図にピンが表示されます</div>
        <input id="address" type="textbox" class="col-12 mb-3" placeholder="Spot名を入力→検索">
        <input type="button" value="検索" onclick="codeAddress()" class='btn btn-sm btn-light btn-outline-dark col-12'>
      </div>
    </div>
    <div class="col-2">
      <div class="mt-5 text-center">
        <i class="fas fa-chevron-right fa-3x" style="color: #808080"></i></br>
      </div>
    </div>
    <div class="col-5">
      <div class="text-center"><b>ステップ2</b></div>
      <div class="text-center">説明を入力(100字以内)</div>
      <div>
        <%= form_with model:[note, spot] do |f| %>
          <!-- 検索値を隠しデータとして送信-->
          <input type="hidden" name="spot[address]" id="hidden_address">
          <input type="hidden" name="spot[latitude]" id="hidden_latitude">
          <input type="hidden" name="spot[longitude]" id="hidden_longitude">
          <div  class="form-group">
            <%= f.text_area :body, rows: '3', class:"form-control", placeholder: "記入後、保存を押してください" %>
          </div>
          <%= f.submit "保存", class:"btn btn-sm btn-outline-dark btn-light col-12" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div id="map"></div>
      <script>
        let map
        let geocoder
        let marker

        function initMap() {
          geocoder = new google.maps.Geocoder()
          map = new google.maps.Map(document.getElementById('map'), {
            <% if note.spots.exists? %>
            center: {
              lat: <%= note.spots[0].latitude %>,
              lng: <%= note.spots[0].longitude %>
            },
            zoom: 12
            <% else %>
            center: {
              lat: 35.6585848,
              lng: 139.7432389
            },
            zoom: 12
            <% end %>
          });
          
          <% note.spots.each do |spot| %>
            var spot_marker = new google.maps.Marker({
              position:{lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
              map: map,
            });
            var infoWindow = new google.maps.InfoWindow({
              content: "<%= spot.address %>"
            });
            infoWindow.open(map, spot_marker);
          <% end %>
        }

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              
              if(marker != null){
                marker.setMap(null);
              }
              marker = null;
              
              marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              });

              let hidden_address = document.getElementById('hidden_address');
              hidden_address.setAttribute("value", inputAddress);
              
              let hidden_latitude = document.getElementById('hidden_latitude');
              hidden_latitude.setAttribute("value", marker.position.lat());
              
              let hidden_longitude = document.getElementById('hidden_longitude');
              hidden_longitude.setAttribute("value", marker.position.lng())
              
              var infoWindow = new google.maps.InfoWindow({
                content: inputAddress
              });
              infoWindow.open(map, marker);

            } else {
              alert('該当する結果がありません：' + status);
            }
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
    </div>
    <div class="col-5 ml-3" id="spot-index">
      <%= render "spots/index", note: note %>
    </div>
  </div>
</div>