<div class="container my-5 px-sm-0">
<% schedules.each do |schedule| %>
  <div class="row my-5">
    <div class="col-md-5 border border-secondary rounded">
      <h2><u>Spots</u></h2>
      <div class="schedule">
        <h4 class="schedule_header_title">
          <small>
            <%= schedule.day %>日目
            <%= link_to "削除", note_schedule_path(note.id, schedule.id), method: :delete, class: 'ml-1 btn btn-sm btn-secondary' %>
          </small>
        </h4>
        <div class="border border-secondary rounded p-2">
          <input id="address" type="textbox" value="東京タワー">
          <input type="button" value="検索" onclick="codeAddress()" class='btn btn-sm btn-secondary'>
        </div>
        <div class="border border-secondary rounded p-2 mt-2">
        <%= form_with(model:[note, schedule, spot], local: true) do |f| %>
          <!-- 検索値を隠しデータとして送信-->
          <input type="hidden" name="spot[address]" id="hidden_address">
          <input type="hidden" name="spot[latitude]" id="hidden_latitude">
          <input type="hidden" name="spot[longitude]" id="hidden_longitude">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title %>
          <div>
            <%= f.label :start_time, class: 'control-label col-5' %>
            <%= f.time_select :start_time, class: 'form-control' %>
          </div>
          <div>
            <%= f.label :end_time, class: 'control-label col-5' %>
            <%= f.time_select :end_time, class: 'form-control' %>
            <%= f.submit "保存", class: 'btn btn-sm btn-secondary' %>
          </div>
        <% end %>
        </div>
        <% if schedule.spots.exists? %>
          <div class="border border-secondary rounded p-2 my-2">
          <% schedule.spots.each do |spot| %>
          <div class="border border-secondary rounded p-2 my-1">
            <div>
              <%= spot.address %>
              <%= link_to "削除", note_schedule_spot_path(note.id, schedule.id, spot.id), method: :delete, class: 'ml-1 btn btn-sm btn-secondary' %></div>
            <div><%= spot.start_time.strftime("%H:%M") %>～<%= spot.end_time.strftime("%H:%M") %></div>
          </div>
          <div class="text-center">▽</div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <div id="map"></div>
      <script>
        let map
        let geocoder

        function initMap() {
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {
              lat: 35.6585848,
              lng: 139.7432389
            },
            zoom: 12
          });

          
          <% schedule.spots.each do |m| %>
            (function(){
            var marker = new google.maps.Marker({
                position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
                map: map,
            });
  
            })();
          <% end %>
        }

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              });

              let title = document.getElementById('spot_title');
              title.setAttribute("value", inputAddress);

              let hidden_address = document.getElementById('hidden_address');
              hidden_address.setAttribute("value", inputAddress);
              
              let hidden_latitude = document.getElementById('hidden_latitude');
              hidden_latitude.setAttribute("value", marker.position.lat());
              
              let hidden_longitude = document.getElementById('hidden_longitude');
              hidden_longitude.setAttribute("value", marker.position.lng());

            } else {
              alert('該当する結果がありません：' + status);
            }
          });
          
          <% schedule.spots.each do |spot| %>
          (function(){
          var contentString = "住所：<%= spot.address %>"; 

          var marker = new google.maps.Marker({
              position:{lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
              map: map,
              title: contentString
          });

          })();
          <% end %>
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
    </div>
  </div>
<% end %>
</div>