<div class="my-3">
  <% if @note.errors.any? %>
    <div><i class="fas fa-exclamation"></i> <%= @note.errors.count %>件のエラーが発生しました</div>
    <div class="border border-danger col-6">
      <% @note.errors.full_messages.each do |message| %>
        <%= message %></br>
      <% end %>
    </div>
  <% end %>
  <%= form_with model:note, local: true do |f| %>
  <div class="my-3 border-bottom row">
    <%= f.label "タイトル", class:"col-3" %>
    <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <%= f.label "宿泊数", class:"col-3" %>
    <%= f.select :stay, Note.stays.keys.map {|k| [I18n.t("enums.note.stay.#{k}"), k]}, {prompt: "日程を選択してください"}, class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <%= f.label "画像", class:"col-3" %>
    <%= f.attachment_field :image, class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <%= f.label "説明", class:"col-3" %>
    <%= f.text_area :body, class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <div class="col-3">
      <%= f.label "タグ付け" %>
    </div>
    <div class="col-6">
      <div class="row">
        スペースを入力すると複数登録出来ます</br>
        例:金沢 グルメ 城</br>
      </div>
      <div class="row">
        <%= f.text_area :tag_name, value: tag_list , class:"col-12" %>
      </div>
    </div>
  </div>
  <div class="my-3">
    <div><%= f.radio_button :status, 0 %>全ユーザーに公開</div>
    <div><%= f.radio_button :status, 1, checked: true %>非公開</div>
  </div>
  <div class="actions col-5 mx-auto">
    <%= f.submit "編集を保存する", class: "btn-block btn-sm btn btn-light btn-outline-dark" %>
  </div>
  <% end %>
</div>