<div class="my-3">
  <%= form_with model:note, local: true do |f| %>
  <div class="my-3 border-bottom row">
    <%= f.label "タイトル", class:"col-3" %>
    <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <%= f.label "宿泊数", class:"col-3" %>
    <%= f.select :stay, Note.stays.keys.map {|k| [I18n.t("enums.note.stay.#{k}"), k]}, {prompt: "日程を選択してください"}, class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <%= f.label "画像", class:"col-3" %>
    <%= f.attachment_field :image, class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <%= f.label "説明", class:"col-3" %>
    <%= f.text_area :body, class:"col-6" %>
  </div>
  <div class="my-3 border-bottom row">
    <div class="col-3">
      <%= f.label "タグ付け" %>
    </div>
    <div class="col-6">
      <span class="tag_caution">スペースを入力することで複数のタグを付けることができます。</span></br>
      <span class="tag_caution">例:金沢 グルメ 城</span></br>
      <%= f.text_area :tag_name, class:"col-12" %>
    </div>
  </div>
  <div class="my-3">
    <div><%= f.radio_button :status, 0 %>全ユーザーに公開</div>
    <div><%= f.radio_button :status, 1, checked: true %>非公開</div>
  </div>
  <div class="actions col-3 mx-auto">
    <%= f.submit "Spotを追加", class: "btn-block btn-sm btn btn-secondary" %>
  </div>
  <% end %>
</div>
