  <div class="row m-auto">
    <% notes.each do |note| %>
      <div class="col-11 m-3 border rounded bg-white">
        <div class="row mt-2 ml-2 pb-2 border-bottom">
          <div class="profile-img">
            <%= attachment_image_tag note.user, :profile_image, format: 'jpg', fallback: "no_image.jpg" %>
          </div>
          <div class="d-flex align-items-center ml-2">
            <%= link_to note.user.name, user_path(note.user.name) %>
          </div>
          <div class="text-right col-10 my-2">
            <div>コメント：<%= note.note_comments.count %>　/　
            <span id="favorite_button<%= note.id %>"><%= render "favorites/favorite-botton", note: note %></span></div>
          </div>
        </div>
        
        <div class="row mb-1 border-bottom">
          <div class="m-3 index-note-img">
            <%= attachment_image_tag note, :image, fallback: "no_image.jpg" %>
          </div>
          <div class="col-7 my-3">
            <div class="row mb-3">
              <div class="col-12 tag">
                タグ<i class="fas fa-tag"></i>：
                <% note.tags.each do |tag| %>
                  <%= link_to tag.tag_name, tag_search_path(tag.tag_name) %>
                <% end %>
              </div>
            </div>
            <div>
              <% note.spots.first(2).each do |spot| %>
              <div class="row mb-2">
                <div class="col-1">
                  <i class="far fa-bookmark fa-2x"></i>
                </div>
                <div class="col-11">
                  <div class="spot-name"><b><%= spot.address %></b></div>
                  <div class="spot-body"><%= spot.body %></div>
                </div>
              </div>
              <% end %>
              <% if note.spots.count > 2 %>
                <div><%= link_to "▼more", note_path(note.id) %></div>
              <% end %>
            </div>
          </div>
        </div>
    
        <div class="text-center">
          <% if note.user == current_user %>
            <%= link_to "投稿詳細", note_path(note.id) %>　/　
            <%= link_to "削除", note_path(note.id), method: :delete %>
          <% else %>
            <%= link_to "投稿詳細", note_path(note.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

