<div class="ml-3">
  <% if note.user == current_user %>
    <%= link_to "編集", edit_note_path(note.id) %>/
    <%= link_to "Spot追加", new_note_spot_path(note_id: note.id) %>/
    <%= link_to "削除", note_path(note.id), method: :delete %>
  <% end %>
  
  <div class="row my-3">
    <div class="col-8">
      <h1><%= note.title %></h1>
    </div>
    <div class="col-4">
      <span id="comment_quantity">コメント：<%= note.note_comments.count %>　/　</span>
      <span id="favorite_button<%= note.id %>"><%= render "favorites/favorite-botton", note: @note %></span>
    </div>
  </div>
  <div class="row ml-3">
    <div class="show-note-img p-2">
      <%= attachment_image_tag note, :image, format: 'jpg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-8 ml-2 p-2">
      <table class="table">
        <tbody>
          <tr>
            <td nowrap>日程：</td>
            <td><%= note.stay_i18n %></td>
          </tr>
          <tr>
            <td>本文：</td>
            <td><%= note.body %></td>
          </tr>
          <tr>
            <td>タグ：</td>
            <td>
              <% note.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mt-4 ml-3">
  <% if note.spots.exists? %>
  <div class="row">
    <div class="col-6 mr-3">
      <div id="map"></div>
      <script>
        function initMap() {
          let geocoder = new google.maps.Geocoder()
          let map = new google.maps.Map(document.getElementById('map'), {
            center: {
              lat: <%= note.spots[0].latitude %>,
              lng: <%= note.spots[0].longitude %>
            },
            zoom: 12
          });
          
          <% note.spots.each do |m| %>
            (function(){
            var marker = new google.maps.Marker({
                position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
                map: map,
            });
            })();
          <% end %>
        }
      </script>
      <script async src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
    </div>
    <div class="col-5 ml-3">
      <% note.spots.each do |spot| %>
      <div class="row mb-2">
        <div class="col-1">
          <i class="far fa-bookmark fa-2x float-right"></i>
        </div>
        <div class="col-10">
          <div class="spot-name"><b><%= spot.address %></b></div>
          <div class="show-spot-body mt-2 col-12"><%= spot.body %></div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
