<div class="sign-in">
  <div class="container">
    <div class="row m-auto">
      <div class="sign-in-form">
        <div class="col-12 text-center">
          <h1 class="title"><b>Join to Trabel Notes</b></h1>
          <h6 class="border-bottom border-secondary">Trabel Notesに会員登録する</h6>
        </div>
        <div>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
        </div>
        <div class="input-form">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form">
            <%= f.label :name, "ユーザー名" %><span class="mandatory border border-danger">必須</span>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input", placeholder:"例:Traveller"%>
          </div>
          <div class="form">
            <%= f.label :email, "メールアドレス" %><span class="mandatory border border-danger">必須</span>
            <%= f.email_field :email, autocomplete: "email", class:"input" %>
          </div>
          <div class="form">
            <%= f.label :password, "パスワード" %><span class="mandatory border border-danger">必須</span><br>
            <em>※6~22字で入力してください</em>
            <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
          </div>
          <div class="form">
            <%= f.label :password_confirmation, "パスワード確認用" %><span class="mandatory border border-danger">必須</span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
          </div>
          <div class="text-center mt-3">
            <%= f.submit "新規会員登録", class:"btn btn-secondary btn-sm" %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="sign-in-form">
        <div class="col-12 mt-3 text-center">
          <span><b>既に会員登録がお済の方</b></span>
          <div class="text-center mt-3">
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-secondary btn-sm" %>
          </div>
        </div>
      </div>
      <div class="sign-in-form">
        <div class="col-12 mt-3 text-center">
          <span><b>ゲストログイン(閲覧用)</b></span></br>
          <span>ゲストユーザーの投稿は、日付が変わるごとに削除されます。</span>
          <div class="text-center mt-3">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"btn btn-secondary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
