<div class="col-3 users-info">
  <% if user == current_user %>
    <div class=row>
      <%= link_to mypage_edit_path, class: "ml-2 col-2 btn btn-sm btn-secondary" do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </div>
  <% end %>
  <% if user.users_status == true %>
    <span class="user-status border border-danger">
      退会済みユーザー
    </span>
  <% end %>
  <div class="usershow-profile-img m-auto">
    <%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "no_image.jpg", class:"rounded-circle" %>
  </div>
  <div class="my-2 text-center">
    <b><%= user.name %></b>
  </div>
  <% if user != current_user %>
    <div class="text-center follow">
      <% if current_user.following?(user) %>
        <%= link_to "フォロー中", user_relationship_path(user.name), method: :delete, class:"text-secondary" %>
      <% else %>
        <%= link_to "フォローする", user_relationship_path(user.name), method: :post %>
      <% end %>
    </div>
  <% end %>
  <table class="table my-4">
    <tbody>
      <tr>
        <th>フォロー中</th>
        <th><%= link_to user.following.count, user_followings_path(user.name), class:"text-secondary" %></th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th><%= link_to user.followers.count, user_followers_path(user.name), class:"text-secondary" %></th>
      </tr>
      <tr>
        <th>投稿</th>
        <th><%= link_to notes.count, user_path(user.name), class:"text-secondary" %></th>
      </tr>
      <% if user == current_user %>
        <tr>
          <th>お気に入り</th>
          <th><%= link_to user.favorites.count, favorite_notes_path, class:"text-secondary" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center my-tag">
    <div class="my-1">
      <% if user == current_user %>
        <b>Your Tag</b>
      <% else %>
        <b><%= user.name %>'s Tag</b>
      <% end %>
    </div>
    <div>
      <% if notes.exists? %>
        <% notes.each do |note| %>
          <% note.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.tag_name), class:"text-secondary" %>
          <% end %>
        <% end %>
      <% else %>
        <p>Tagはまだありません</p>
      <% end %>
    </div>
  </div>
</div>


