  <div class=row>
    <%= link_to mypage_edit_path, class: "col-2 btn btn-sm btn-secondary" do %>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
  <div class="usershow-profile-img-container m-auto">
    <%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "no_image.jpg", class:"rounded-circle" %>
  </div>
  <div class="my-2 text-center">
    <b><%= user.name %></b>
  </div>
  <% if user != current_user %>
    <div class="text-center follow">
      <% if current_user.following?(user) %>
        <%= link_to "フォローを外す", user_relationship_path(user.name), method: :delete, class:"text-secondary" %>
      <% else %>
        <%= link_to "フォローする", user_relationship_path(user.name), method: :post %>
      <% end %>
    </div>
  <% end %>
  <table class="table my-4">
    <tbody>
      <tr>
        <th>フォロー中</th>
        <th><%= link_to user.following.count, user_followings_path(user.name), class:"text-secondary" %></th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th><%= link_to user.followers.count, user_followers_path(user.name), class:"text-secondary" %></th>
      </tr>
      <tr>
        <th>Notes</th>
        <th><%= link_to user.notes.count, mypage_path, class:"text-secondary" %></th>
      </tr>
      <tr>
        <th>お気に入り</th>
        <th><%= link_to user.favorites.count, favorite_notes_path, class:"text-secondary" %></th>
      </tr>
    </tbody>
  </table>
  <div class="text-center my-tag">
    <div class="my-1">
      <% if user == current_user %>
        <b>Your Tag</b>
      <% else %>
        <b><%= user.name %>'s Tag</b>
      <% end %>
    </div>
    <div>
      <% if user.notes.exists? %>
        <% user.notes.each do |note| %>
          <% note.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.tag_name), class:"text-secondary" %>
          <% end %>
        <% end %>
      <% else %>
        <p>Tagはまだありません</p>
      <% end %>
    </div>
  </div>


