
  <div class=row>
    <%= link_to mypage_edit_path, class: "col-2 btn btn-sm btn-secondary" do %>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
  <div class="text-center my-2">
    <%= attachment_image_tag user, :profile_image, size: "150x150", format: 'jpg', fallback: "no_image.jpg", class:"rounded-circle" %>
  </div>
  <div class="my-2 text-center">
    <b><%= user.name %></b>
  </div>
  <table class="table my-4">
    <tbody>
      <tr>
        <th>Follows</th>
        <th>〇〇</th>
      </tr>
      <tr>
        <th>Followers</th>
        <th>〇〇</th>
      </tr>
      <tr>
        <th>Notes</th>
        <th><%= user.notes.count %></th>
      </tr>
      <tr>
        <th>Favorites</th>
        <th><%= link_to user.favorites.count, favorite_notes_path %></th>
      </tr>
    </tbody>
  </table>


