<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ユーザー情報変更</h2>
      <%= form_with model:@user,url: mypage_update_path, method: :patch, local: true do |f| %>
      <div class="form-group mt-4">
        <%= f.label :name %><span class="mandatory border border-danger">必須</span><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="form-group">
        <%= f.label :Image %><br />
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><span class="mandatory border border-danger">必須</span>
        <%= f.email_field :email, autocomplete: "email", class:"input" %>
      </div>
      <div class="actions col-9 mx-auto mt-4">
        <%= f.submit "変更を確定する", class: "btn-block btn-sm btn btn-secondary" %>
      </div>
      <div class="actions col-9 mx-auto my-3">
        <%= link_to "退会する", withdraw_path, class: "text-center btn-block btn-sm btn btn-secondary", method: :patch, "data-confirm" => "本当に退会しますか？" %>
        <div class="text-center" style="font-size: 10px">※退会しても、投稿は削除されません。</div>
        <div class="text-center" style="font-size: 10px">※同一のユーザー名、メールアドレスでは再度登録出来なくなります。</div>
      </div>
      <% end %>
    </div>
  </div>
</div>