<div class="row text-center mb-3">
  <div class="Instructions-notes col-10 m-auto">
    <i class="fas fa-arrow-circle-down"></i>
    <b>Everyone's Spot</b>
  </div>
</div>

<div class="top-notes mb-3">
  <% best_notes.each do |note| %>
    <div class="m-auto m-sm-2 shadow-lg">
      <div class="row ml-lg-5 ml-md-2 ml-3 mt-1">
        <div class="profile-img-container">
          <%= attachment_image_tag note.user, :profile_image, format: 'jpg', fallback: "no_image.jpg" %>
        </div>
        <div class="d-flex align-items-center ml-2">
          <%= note.user.name %>
        </div>
      </div>
      <div class="f-note-spot">
        <% note.spots.first(2).each do |spot| %>
          <div class="f-note-spot-item">
            <div class="flag">
              <i class="far fa-bookmark fa-3x"></i>
            </div>
            <div class="f-spot-contents">
              <h2><b><%= spot.address %></b></h2>
              <div class="spot-body"><%= spot.body %></div>
            </div>
          </div>
        <% end %>
        <% if note.spots.count > 2 %>
          <p class="text-center">
            <%= link_to note_path(note.id) do %>
              <i class="fas fa-caret-down fa-2x"></i>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="homes-note-img m-auto">
        <%= attachment_image_tag note, :image, fallback: "no_image.jpg" %>
      </div>
      <div class="row favorite-comment-count">
        <p class="col-10 m-auto text-center">
          コメント：<%= note.note_comments.count %>　/　
          <i class="fas fa-heart"></i> <%= note.favorites.count %>
        </p>
      </div>
      <div class="text-center">
        <%= link_to "詳細を見る" , note_path(note.id) %>
      </div>
    </div>
  <% end %>
</div>