<div class="row p-3 mt-4 m-2 word-search">
  <p>ワード検索</p>
  <%= form_with url: search_path, method: :get, local: :true do |f| %>
    <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "note" }) %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="row p-2 m-2 word-search">
  <div><p>タグ検索</p></div>
  <div>
    <% tags.each do |tag| %>
      <%= link_to tag.tag_name, tag_search_path(tag.tag_name) %>　
    <% end %>
  </div>
</div>
