<div class="row p-3 m-1 border border-secondary rounded">
  <p>ワード検索</p>
  <%= form_with url: search_path, method: :get, local: :true do |f| %>
    <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "note" }) %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="row p-3 m-1 border border-secondary rounded">
  <p>タグ検索</p>
  <% tags.each do |tag| %>
    <%= link_to tag.tag_name, tag_search_path(tag.tag_name) %>
  <% end %>
</div>
