<div class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <%= link_to "Trabel Spot", root_path, class:"navbar-brand", data: {"turbolinks" => false} %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto text-right">
          <% if user_signed_in? %>
            <li class="nav-item mx-2 px-2 rounded">
              <%= link_to(mypage_path, class: "ml-3 text-secondary") do %>
                <i class="fas fa-user-circle"></i><%= current_user.name %> Page
              <% end %>
            </li>
            <li class="nav-item mx-2 px-2 rounded">
              <%= link_to(notifications_path, class: "ml-3 text-secondary") do %>
                <% if unchecked_notifications.any? %>
                  <i class="far fa-bell fa-lg" style="color: #FF0033"></i>通知(<%= unchecked_notifications.count %>)
                <% else %>
                  <i class="far fa-bell fa-lg"></i>通知
                <% end %>
              <% end %>
            </li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "投稿一覧", notes_path, class:"text-secondary" %></li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "投稿作成", new_note_path, class:"text-secondary" %></li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "下書き", notes_draft_path, class:"text-secondary" %></li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-secondary" %></li>
          <% else %>
            <li><%= flash[:notice] %></li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "ホーム", root_path, class:"text-secondary", data: {"turbolinks" => false} %></li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "新規登録", new_user_registration_path, class:"text-secondary" %></li>
            <li class="nav-item mx-2 px-2 rounded"><%= link_to "ログイン", new_user_session_path, class:"text-secondary" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>