<!DOCTYPE html>
<html>
  <head>
    <title>TravelSpot</title>
    <meta charset="UTF-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main>
      <%= yield %>
      <span id="back">
        <a href="#">
          <i class="fas fa-arrow-circle-up fa-4x"></i>
        </a>
      </span>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
