<!DOCTYPE html>
<html>
  <head>
    <title>TrabelNotes</title>
    <meta charset="UTF-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="padding-top: 3rem">
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
